html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*{
  box-sizing: border-box;
}

.half{
  width: 50%;
  height: 100%;
  float: left;
  overflow: auto;
}
.half:focus{
  outline: none;
}
#source{
  padding: 20px;
}
#target{
  padding: 8px;
}
.cacha-hidden{
  display: none;
  visibility: hidden;
}
pre{
  display: block;
  overflow: auto;
  padding: 10px;
}