body{
  font-size: 0.6em;
}
pre{
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  background: #ddd;
  display: block;
  overflow: auto;
}
code{
  background: #ddd;
  display: block;
  overflow: auto;
}
blockquote{
  background: #eee;
  margin: 0;
  word-break: break-word;
  padding: 0 10px;
  border: none;
  border-left: 6px solid #ddd;
}